@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;

  --header-height: 4rem;
  --footer-height: 8rem;
}

@keyframes loading-spin {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
